/.CFUserTextEncoding
/.emacs.d/auto-save-list/
/.emacs.d/history
/.bash_history
/.keepassx/
/.ssh/
/.viminfo
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/


/.Xauthority
/.adobe/
/.bash_history.sqlite3
/.bash_logout
/.bash_profile
/.byebug_hist
/.cache/
/.config/
/.debug/
/.gnome/
/.gstreamer*/
/.ido.last
/.lesshst
/.local/
/.macromedia/
/.mozilla/
/.mplayer/
/.mpv/
/.pgadmin3
/.pgadmin_histoqueries
/.pgpass
/.pki/
/.qws/
/.sqlite_history
/.subversion/
/.swt/
/.wine/
/.xscreensaver
/.xsession-errors
/sjp/
/pgadmin.log