# chef
.berkshelf/
.chef/

# ruby
.bundle/
.byebug_hist
.irbrc

# bash
.bash_history.sqlite3
.bash_logout
.bash_profile

# cache
.cache/

# emacs
.emacs.d/
.ido.last

# applications
.*/
.lesshst
.p7zip
.pgadmin3
.pgadmin_histoqueries
.pgpass

.rnd

# desktop
.Xauthority
.xscreensaver
.xsession-errors
Calibre Library/
Desktop/
Downloads/
